/*----------------reset-----------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------------------general----------------------*/

$borderTopLeftColor: #ffffff;
$borderRightBottomColor: #727272;
$backgroundColor: #d4d4d4;
$border: 3px;

$numberColors: (
        number1: blue,
        number2: green,
        number3: red,
        number4: navy,
        number5: brown,
        number6: hotpink,
        number7: yellow,
        number8: olivedrab
);

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: $backgroundColor;

}

.mainContainer {
  margin-top: 10px;
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: $backgroundColor;
  border-top: $border solid $borderTopLeftColor;
  border-left: $border solid $borderTopLeftColor;
  border-right: $border solid $borderRightBottomColor;
  border-bottom: $border solid $borderRightBottomColor;
}

.menuContainer {
  .menu {
    font-size: 15px;
    display: flex;
    align-content: flex-start;
    li {
      width: 75px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      cursor: pointer;
    }
  }
}

.menu {
  li:hover {
    background-color: #ffffff;
  }
}

.informationContainer {
  border-bottom: $border solid $borderTopLeftColor;
  border-right: $border solid $borderTopLeftColor;
  border-left: $border solid $borderRightBottomColor;
  border-top: $border solid $borderRightBottomColor;
  padding-right: 4px;
  padding-left: 4px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  line-height: 75px;
  align-items: center;
  .minesCounter {
    height: 55px;
    width: 86px;
    border: 1px solid black;
    div {
      font-size: 55px;
      line-height: 53px;
      text-align: center;
      color: red;
      float: right;
      border: 1px solid black;
      height: 53px;
      width: 28px;
      font-family: Digital-7, sans-serif;
      background-color: black;
    }
  }
  .saperPicture {
    height: 45px;
    width: 45px;
    background-size: cover;
  }
  .timer {
    height: 55px;
    width: 86px;
    border: 1px solid black;
    div {
      font-size: 55px;
      line-height: 53px;
      text-align: center;
      color: red;
      float: right;
      border: 1px solid black;
      height: 53px;
      width: 28px;
      font-family: Digital-7, sans-serif;
      background-color: black;
    }
  }
}

.boardContainer {
  border-bottom: $border solid $borderTopLeftColor;
  border-right: $border solid $borderTopLeftColor;
  border-left: $border solid $borderRightBottomColor;
  border-top: $border solid $borderRightBottomColor;
  div {
    background-size: cover;
  }

}

.unknown {
  width: 35px;
  height: 35px;
  background-color: $backgroundColor;
  border-top: $border solid $borderTopLeftColor;
  border-left: $border solid $borderTopLeftColor;
  border-right: $border solid $borderRightBottomColor;
  border-bottom: $border solid $borderRightBottomColor;
  float: left;
  text-align: center;
  line-height: 35px;
  font-size: 1.8em;
}

.known {
  width: 35px;
  height: 35px;
  background-color: $backgroundColor;
  border-top: 1px solid $borderRightBottomColor;
  border-left: 1px solid $borderRightBottomColor;
  border-right: 0;
  border-bottom: 0;
  float: left;
  text-align: center;
  line-height: 35px;
  font-size: 1.8em;
}

.flag {
  line-height: 35px;
}

.winFormBackground {
  display: none;
  //align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(124, 121, 124, 0.5);
  position: absolute;
  top: 0;
  user-select: none;

  .border {
    position: absolute;
    top: 180px;
    background-color: $backgroundColor;
    border-top: $border solid $borderTopLeftColor;
    border-left: $border solid $borderTopLeftColor;
    border-right: $border solid $borderRightBottomColor;
    border-bottom: $border solid $borderRightBottomColor;
    padding: 5px;

    .winForm {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: $backgroundColor;
      border-bottom: $border solid $borderTopLeftColor;
      border-right: $border solid $borderTopLeftColor;
      border-left: $border solid $borderRightBottomColor;
      border-top: $border solid $borderRightBottomColor;

      > p {
        font-size: 50px;
        margin: 20px;
      }

      > span {
        font-size: 25px;
        margin-bottom: 20px;
      }
      form {
        input {
          width: 170px;
          margin-bottom: 5px;
        }

        .ok, .cancel {
          width: 83px;
          margin: 5px 0 20px 0;
        }
      }
    }
  }
}

@each $name, $color in $numberColors {
  .#{$name} {
    color: $color;
  }
}

